html {

}


body {
    background-image: url('https://encrypted-tbn0.gstatic.com/images?q=tbn%3AANd9GcRWpr03iLoavaUTzKyrL1_BY0zbgYblAJeXDA&usqp=CAU');
   background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
}


h1 {
    font-family: 'Modak', cursive;
}


h2 {

}

h3 { .column {
  float: left;
  width: 50%;
}
.row:after {
  content: "bhjhjhbgjhhhhhhhhh";
  display: table;
  clear: both;
}
  
}


p { 

}



.container {
    width: 100%;
    border: 8px solid #FAEBD7;
    border-radius: 8px;
    padding: 20px 40px 40px 40px;
    background-color: seashell;
}


table, th, td {
  border: 1px solid black;
}



/* For desktop: */
.col-1 {width: 8.33%;}
.col-2 {width: 16.66%;}
.col-3 {width: 25%;}
.col-4 {width: 33.33%;}
.col-5 {width: 41.66%;}
.col-6 {width: 50%;}
.col-7 {width: 58.33%;}
.col-8 {width: 66.66%;}
.col-9 {width: 75%;}
.col-10 {width: 83.33%;}
.col-11 {width: 91.66%;}
.col-12 {width: 100%;}

@media only screen and (max-width: 768px) {
  /* For mobile phones: */
  [class*="col-"] {
    width: 100%;
  }
}



